<html lang="en" xml:lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../assets/stylesheets/parent.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	<title>Ted Zingrebe</title>
</head>
<body>
<h1 style="color:green;"><%= link_to "Sign up", new_user_registration_path %></h1>
</body>
</html>
