<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p><%= link_to "trustworthy", trustworthy_path %></p>
<p><%= link_to "lamp", lamp_path %></p>
<%= link_to "Log in", user_session_path %>


<h2>Log in</h2>


