/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'AvenirRoman';
@import 'AvenirMedium';

@font-face {
  font-family: "AvenirRoman";
  src: font-url( asset-path("AvenirRoman.eot") );
  src: font-url( asset-path("AvenirRoman.eot?#iefix") ) format("embedded-opentype"),
       font-url( asset-path("AvenirRoman.woff") ) format("woff"),
       font-url( asset-path("AvenirRoman.ttf") ) format("truetype"),
       font-url( asset-path("AvenirRoman.svg#AvenirRoman") ) format("svg");
}

@font-face {
    font-family: 'AvenirMedium';
    src: url(font-path('AvenirMedium.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('AvenirMedium.woff')) format('woff'), 
         url(font-path('AvenirMedium.ttf'))  format('truetype'),
         url(font-path('AvenirMedium.svg') + "#AvenirMedium") format('svg');
}
